.opera_detail_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.opera_detail--div {
  display: flex;
}

.opera_detail--div-two {
  display: flex;
  flex-direction: column;
}

.opera_detail--opera_img {
  align-self: center;
  height: 300px;
  width: 300px;
  margin-top: 0px;
  border-radius: 10%;
}
.opera_detail--opera_name {
  align-self: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

.opera_detail--opera_composer {
  /* margin-top: 0px; */
}

.opera_detail--opera_roles--container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.opera_detail--opera_role--single {
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid blue;
  padding-top: 0.3em;
  border-radius: 1.5em;
  background-color: #c8edfd;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.opera_detail--opera_role--single:hover {
  transform: scale(0.9);
}

.opera_detail--roles_text {
  margin-top: 0px;
}
.opera_detail--opera_roles {
  margin-top: 0px;
}

/* Cell Phones */
@media (max-width: 500px) {
  .opera_detail--opera_img {
    align-self: center;
    height: 100px;
    width: 100px;
    margin-top: 0px;
  }
}
