.blog--container {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}
.blog--container--left {
  width: 60%;
  contain: content;
}
.blog--container--right {
  width: 40%;
  contain: content;
  text-align: center;
  background-color: #f2f2f3;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  font-family: ui-monospace;
  align-self: center;
}
.blog--title {
}
.blog--company {
}
.blog--text {
}
.blog--date {
}
.blog--img {
  height: 100%;
  width: 100%;
  border-radius: 20%;
}

.singer_page-button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 12.8em;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  bottom: 10px;
  border-top-left-radius: 70%;
}

.singer_page-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.singer_page-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.singer_page-button:hover span {
  padding-right: 15px;
}

.singer_page-button:hover span:after {
  opacity: 1;
  right: 0;
}

@media (max-width: 500px) {
  .blog--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    float: left;
  }
  .blog--container--left {
    width: 100%;
    contain: content;
  }
  .blog--container--right {
    width: 100%;
    contain: content;
    text-align: center;
    background-color: #f2f2f3;
    box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
    font-family: ui-monospace;
  }

  .blog--img {
    height: 100%;
    width: 100%;
  }
}
