.singer_page--container {
  text-align: -webkit-center;
}
.singer_page--username {
}

.singer_page--img {
  height: 150px;
  width: auto;
}

.singer_page--bio {
}

.singer_page_roles_performed--container {
  width: 50%;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  min-width: fit-content;
  margin-bottom: 20px;
}

.singer_page_roles_performed--title {
}

.singer_page_roles_performed--map_div {
  display: flex;
  justify-content: center;
}
.singer_page_roles_performed--roles {
  font-size: 1.5vw;
}

.singer_page--create_blog {
}

.singer_page_blog--organizer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-around;
}

.singer_page_blog--container {
  background-color: #e2b275;
  height: 200px;
  width: 200px;
  text-align: center;
  border-radius: 20%;
  margin: 5px;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.singer_page_blog--title {
}
.singer_page_blog--img {
  height: 100px;
  width: 50%;
  align-self: center;
  border-radius: 20%;
}
.singer_page_blog--delete {
  position: relative;
  bottom: -15px;
  right: 0px;
}
.all_blogs--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Cell Phones */
@media (max-width: 500px) {
  .singer_page_roles_performed--container:hover {
    transform: scale(2);
  }
  .singer_page_blog--container {
    background-color: #e2b275;
    height: 130px;
    width: 100px;
    text-align: center;
    border-radius: 20%;
    margin: 5px;
    box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
  }
  .singer_page_blog--title {
  }
  .singer_page_blog--img {
    height: 40px;
    width: 50%;
    align-self: center;
    border-radius: 20%;
  }
  .singer_page_blog--delete {
    position: relative;
    bottom: -15px;
    right: 0px;
  }
}
