.singer_detail--container {
  text-align: -webkit-center;
}
.singer_detail--header {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
}
.singer_detail--header--img {
  height: 200px;
  width: 200px;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
}

.singer_detail--body {
}

.singer_detail--header--username_container {
  position: relative;
  top: -40px;
  min-width: fit-content;
}
.singer_detail--header--username {
  font-size: 4vw;
}

.roles_performed--container {
  width: 50%;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  min-width: fit-content;
  padding: 10px;
}

.roles_performed--title {
}

.roles_performed--map_div {
  display: flex;
  justify-content: center;
}
.roles_performed--roles {
  font-size: 1.5vw;
}

.singer_detail--web_city_bio {
  position: relative;
  min-width: fit-content;
  font-size: 2vw;
  padding-left: 20px;
  padding-right: 20px;
  top: -40px;
}

.singer_detail-map_container {
  float: left;
}

.all_blogs--container {
  display: flex;
  flex-wrap: wrap;
}

.singer_detail_blog--container {
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid blue;
  padding-top: 0.3em;
  border-radius: 1.5em;
  background-color: #c8edfd;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  height: 14.4em;
  width: 14.4em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.singer_detail_blog--title {
  border-radius: 40px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  width: 230px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  bottom: 25px;
}

.singer_detail_blog--title span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.singer_detail_blog--title span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.singer_detail_blog--title:hover span {
  padding-right: 15px;
}

.singer_detail_blog--title:hover span:after {
  opacity: 1;
  right: 0;
}
.singer_detail_blog--img {
  height: 100px;
  width: auto;
  border-radius: 10%;
}
.blog-date {
  position: relative;
  top: -20px;
}

@media (max-width: 800px) {
  .all_blogs--container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .singer_detail-map_container {
    float: none;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  /* .blog-date {
    display: none;
  }
  .blog-company {
    display: none;
  } */
  .singer_detail_blog--title {
    border-radius: 40px;
    background-color: #f4511e;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    width: 230px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    bottom: 35px;
  }

  .singer_detail--header--img {
    height: 100px;
    width: auto;
    box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  }
  .singer_detail--header--username_container {
    position: relative;
    top: -45px;
    min-width: fit-content;
    margin-left: 10px;
  }
  .singer_detail--header--username {
    font-size: 6vw;
  }

  .singer_detail-map_container {
    text-align: -webkit-center;
  }

  .roles_performed--container {
    width: 50%;
    position: relative;
    background-color: whitesmoke;
    box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    min-width: fit-content;
  }

  .roles_performed--container:hover {
    transform: scale(2);
  }

  .roles_performed--title {
    font-size: 3vw;
  }

  .roles_performed--map_div {
    display: flex;
    justify-content: center;
  }
  .roles_performed--map_div {
    display: flex;
    justify-content: center;
  }
  .roles_performed--roles {
    font-size: 1.5vw;
  }

  .singer_detail--web_city_bio {
    position: relative;
    min-width: fit-content;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .singer_detail_blog--container {
    height: 150px;
    width: 100px;

    text-align: center;
    border-radius: 20%;
    margin: 5px;
    box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
    contain: content;
  }
  .singer_detail_blog--title {
  }
  .singer_detail_blog--img {
    height: 40px;
    width: auto;
    border-radius: 20%;
  }
}

/* My Phone */
@media (max-width: 414px) {
  .singer_detail_blog--container {
    contain: content;
  }
}
